html {
    font-size: 1.6rem;
}

/*form {
    display: none;
}*/

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.flex-container p {
    background-color: green;
    color: yellow;
    width: 300px;
    height: 200px;
    border: 1px solid black;
}

.practice {
    display: flex;
    justify-content: flex-end;
}

legend {
    font-size: 1.6rem;
}

input [type=submit] {
    font-size: 1.6rem;
}